<h1>Add additional funds to your account</h1>
<p>
    Current Balance: <%= current_user.balance %>
</p>
<p>How mch would you like to add? </p>
<p>               
<%= form_tag('/add_funds') do %>
    
    <%= number_field_tag :quantity, nil, placeholder: "How Much?" %> <br>
    <%= submit_tag "Add Funds", class: "btn btn-success" %>
<% end %></p>