<h1>How does this work?</h1>
<ol>
    
<li>CHOOSE A CONTEST<br>
Fantasy League is different than other fantasy sports sites because our games, Leagues, last just one day. From the home page choose the League you'd like to enter. You can enter as many games and teams as you like to increase your chances of winning.</il>
<li>PICK YOUR TEAM<br>
Once you've chosen your League you'll need to pick your ultimate fantasy team for that day's games. All you need to do is stay under the salary cap and watch your chosen players destroy the competition.</li>

<li>SCORE THE MOST POINTS & WIN<br>
Once the games start, your players accumulate points based on how they perform. If your team racks up more than your rivals on that day you’ll instantly take home the winnings. No waiting for the season to end. </li>

<li>PLAY ANYWHERE<br>
Join Leagues and draft your teams easily from your phone, tablet or computer. Make last minute edits and replacements or track your Team's performance wherever you are.</li>
</ol>

<%= link_to root_path, class: "btn btn-success" do %>
<i class="glyphicon glyphicon-backward"> Back to Homepage</i>
<% end %>