<h1>Welcome to Fantasy League, <%= @user.name %>!</h1>
<p>
    You have successfully signed up to Fantasy League, the number one website for gambling on League of Legends!
</p>
<p>
    Your username is: <%= @user.username %><br>
    Your email address is; <%= @user.email %> <br>
    Hopefully you remember your password, becauser we've already encrypted it, so we can't display it for you.  Also that would be pretty unsecure, so you wouldn't want us to do that anyway.<br>
    To login to our site, just follow this link: <%= @url %> <br>
</p>
<p>
Thank you for joining our site.  May the odds be ever in your favor!  
</p>
<p>
Now login and get to gamblin'!  :) 
</p>



    
