// lines 3 through 5 puts a red 1 pixel border around everything, so you can see what size stuff is, what size the containers are, etc.  very handy for figuring out why stuff is not lined up right.  */

// * {
//     border: 1px solid red !important;
// }


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.cant-see-me{
    display: none;
}
body {
  background: image-url("mord-bg.jpg") no-repeat;
  background-size: cover;
}



 $color-black: #170d19; //rgba(23, 13, 25, 100)
 $light-red: #D02B2F; //rgba(237, 101, 104, 100)
 $light-green: #64ee5c; //rgba(100, 238, 92, 100)
 $light-gray: #edf3f2; //rgba(237, 243, 242, 100)
 $color5: #edf398; //rgba(237, 243, 152, 100)


.fantasy_league-font{
    font-family: 'Niconne', cursive;
    font-size: 150%;
    color: white;
}
.login .fantasy_league-font{
    font-family: 'Niconne', cursive;
    font-size: 150%;
    color: $light-red;
}

.container {
  background: rgba(255,255,255, 0.9);
  padding-bottom: 20px;
}
.login {
  background: rgba(255,255,255, 0.9);
}

.muted {
  color: gray;
}


.navbar{
  background: $color-black;
  color: white;
  border-color: #383838;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav  > li > a{
  color: white;
  background-color: inherit;
}



.navbar-default .navbar-nav > li > a:hover {
    background-color: $light-red !important;
    color:#ffffff;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu {
    background-color: $light-red;
    color: #ffffff;
  }


.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: $light-red;
    color: white;    // Changes color of main button that is currently active.
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: $color-black;
    background-color: $light-gray;  //  Changes color of main menu button once clicked.
}

.navbar-default .navbar-nav .dropdown-menu>li>a:focus {
    background-color: $color-black;
    color: white;    // Changes color of the text when the dropdown-menu is highlighted
  }

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
    background-color: $light-red;
    color: $color-black;    // Changes color of the text when the dropdown-menu is highlighted
  }

.navbar-default .nav .dropdown .dropdown-menu {
    -webkit-border-radius: 5px 5px 5px 5px ;
    -moz-border-radius: 5px 5px 5px 5px ;
    border-radius: 5px 5px 5px 5px ;
    margin-top: -3px;
    margin-left: 0px;
    border: none;

}
.well {
  background: inherit;
  border: none;
  box-shadow: none;
  margin: 0;
}
.well.form-control {
  color: $color-black;

}
.vert-align {
  vertical-align: center;
  height: 100%
}
